<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <script scr:"{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script scr:"{{ asset('js/bootstrap.min.js') }}"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lunenburg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/Bimb4/web/app_dev.php/product/nieuw">Verkoop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/Bimb4/web/app_dev.php/home/inkoper">Inkoop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/Bimb4/web/app_dev.php/artikel/wijzig/10100">Magazijn</a>
        </li>
      </ul>
    </div>
  </nav>
      <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </button>
    </div>

    </body>
</html>
